@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-template-navigation {
  @apply grid-cols-3 gap-2;

  grid-template-areas:
    "chat logo menu"
    "player player player";
}

@screen md {
  .grid-template-navigation {
    @apply gap-4;

    grid-template-columns: 1fr min-content 1fr;
    grid-template-areas: "player logo menu";
  }
}

/* Capsize Augments */

.text-mobile-kinfolk-headline::before {
  content: "";
  margin-bottom: -0.268em;
  display: table;
}
.text-mobile-kinfolk-headline::after {
  content: "";
  margin-top: -0.414em;
  display: table;
}

@screen md {
  .md\:text-kinfolk-headline::before {
    content: "";
    margin-bottom: 0.0266em;
    display: table;
  }
  .md\:text-kinfolk-headline::after {
    content: "";
    margin-top: -0.1194em;
    display: table;
  }
}
